@keyframes fade-me-in {
  0% {opacity:0;}
  80% {opacity:0;}
  100% {opacity:1;}
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;


}
.mk {
	padding: 0 110px 0 110px
}
.hj{
	display: none;
	width: 85%;
	margin-right:80%;
	margin-top: -20px; 
	
}
.font {
	font-family: Poppins; 
	font-size: 13px;
	color: #3B325F
}
#si {
	margin-right: -60px;
}
#top {
	margin-top: -15%;
}

#lk {
	display: none;
}
.fl {
	display: flex;
}
.bl {
	padding: 0px 5px 0px 5px;
}




.cont {
	/*width: 100%;
	height: 100vh;
	scroll-behavior: smooth;*/
	/*scroll-snap-type: y mandatory;
	overflow-y: scroll;*/
}


.section {
	/*width: 100%;
	height: 100vh;*/
	/*scroll-snap-align: start;*/
}

.section:nth-child(1){
	background-color: #FFFF;
}

.section:nth-child(2){
	background-color: #FFFF;
}

.section:nth-child(3){
	background-color: #FFFF;
}

.section:nth-child(4){
	background-color: #FFFF;
}

.btm {
	margin-top: 35px;
}

#link {
	cursor: pointer;
}

#foo_btn {
  margin-top:20px; 
  font-size: 15px;
   border-radius: 5px; 
   background-color:#E9B640;
    outline: none;
    border: none;
     color: white;
      padding: 2px 40px;
}

#oo {
	margin-top:90px;
	 font-size: 15px;
	  border-radius: 5px;
	   background-color:#E9B640;
	    outline: none;
	    border: none; 
	    color: white;
	     padding: 8px 40px;
}

.fa-bars {
	font-size: 25px;
	 padding:4px; 
	 color: #3B325F;
}
/*=========================================NAVBAR STYLING===================================================*/
#nav-bar{
	/*position: sticky;*/
	top: auto;
	z-index: 10;

}

.navbar-toggler {
	margin-right: 15px;
	border-radius: 8px; 
	outline : none !important; 
	box-shadow: none;"
}

.nav_logo{
	margin-top: 8px;
	width: 100%;


}


.navbar {
	background-color: white;
	padding: 0 !important
}

.nav1 {
	padding-right: 200px;
}

.navbar-brand {
	margin-top: 10px;
	padding-left: 150px;

}

.navbar-nav li {
	padding: 0 20px;
}

.navbar-nav li a {
	color: black !important;
	font-weight: 600;
}

.navbar-toggler {
	outline: none;
}

.nc {
	
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	z-index: 1;
	

}

.btn-warning {
	background-color: #E9B640 !important;
	border-radius: 9px !important;
	color: white !important;
	padding:10px 30px 10px 30px !important;
	outline : none !important;
    box-shadow: none;
	

}
.br {
	display: none;
}
.br1{
	display: initial;
}
#ser_res{
	display: none;
	width: 95%;
}

/*#left {
	position: absolute;
	top: -50px;
	width: 20%;
	height: 200px;
    z-index: 1;
}*/

/*======================================BANNER==========================================*/

.top {
	margin-top: 50px;
}

.jus {
	text-align: justify;
	margin-left: 30px;
	color: #3B325F;
	font-family: Poppins;
	
    


}


.font_big {
	animation: fade-me-in 0.1s;
	font-size: 20px;
	line-height: 1.4;
}

#right {
	position: absolute;
	width: 170%;
	top: -385%;
	right:-440px;

	
}
/*======================================SERVICES=================================================*/
.services {
	padding: 60px 0px 20px 0px;

}

.ser-content {
	text-align: center;
}

.heading_color {
	animation: fade-me-in 0.1s;
	font-family: Poppins;
	font-size: 24px;
	color: #3B325F;
	
}

.service-img {
	height:12vw;
	
}

/* Footer */
.bimg {
	width: 85%;
	
	
}

.ser {
	padding: 30px 0;
	align-items: center;
	margin-left: 90px;
}

.fo {
	
	margin-top: 25px;
}

 .fo1{
	margin-top: 10px;
	padding: 30px 0
}

.fc {
	display: flex;
	justify-content: space-around;
}
.sm {
	padding: 30px 0;
}



.btn-primary {
padding:10px 70px 10px 70px !important;
border-radius: 10px !important;

}

#end {
	margin-left: 40%;
}

#topBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 40px;
	height: 40px;
	background: #E9B640;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	border:none;

}

.scroll_img {
	width: 80%;
}

/*Back Background*/
#main_left  {
	position: absolute;
	width: 70%;
	top: 130%;
	left: -50%;
}

#main_left1 {
	position: absolute;
	width: 70%;
	top: 350%;
	right: -50%;
}
#main_left2 {
    position: absolute;
	max-width: 76%;
	top: -645%;
	left: -52%;
}

#main_left3 {
 display: none;
}



#main_right {
	position: absolute;
	width: 18%;
	height: 100%;
	top: 420%;


}

#left {
	position: absolute;
	top: -50px;
	width: 20%;
	height: 200px;
    z-index: 1;
}



@media (min-width: 350px) and (max-width: 450px) {

.font_big {
	font-size: 20px;
	margin: 0 auto;
}
.jus {
	margin-left: 22px;
	margin-top: -20px;
}
.navbar-brand {
	margin-top: 15px;
	padding-left: 45px;

}
.mk {
	padding: 0 0 0 0;
}


.navbar-toggler {

	margin-right:40px;
	margin-top: 40px;
	
}

.justify {

	margin-top: -15px;
	text-align: justify;
	font-size: 13.5px;
	margin-right: 20px;
	margin-left: 20px;
	color: #AAA6BC;

}
.service-img {

	padding: 0 0 0px 0;
	width: 150px;
}

.services {
	padding: 10px 0px 40px 0px;
}

#lk {
	display: initial;
}
#kl {
	display: none;
}

.btn-warning{
	padding: 5px 4px 5px 4px !important;
	border-radius: 2px !important;

}


.btn-primary {
padding:15px 100px 15px 100px !important;
}
.plz {
	display: none;
}

.hj {
	display: initial;
}
#ser_res{
	width:28vw;
	display: initial;
}
#service-img {
	display: none;
}

.log2 {
	margin-top:8%; 
	display: initial;
	margin-right: 60px;
	width: 40%;
}
.nc {
	flex-direction: column;
}

#machinary {
	display: none;

}

.fl {
	flex-direction: column-reverse;
}
.top {
	margin-top: 30px;
}
.br {
	display: initial;
}
.br1 {
	display: none;
}
#main_left {
	display: none;
}
#main_left1 {
	display: none;
}
#left {
	display: none;
}
.hj {
	width: 100%;
}
.mr {
margin-right: -65%;
}

img {
	width: 100%;
}
.test {
	width: 150%;
	padding-right: 120px;

}




}
/*mobile*/
@media (min-width: 451px) and (max-width: 600px) {
	.font_big {
	font-size: 22px;
	margin: 0 auto;
}
.jus {
	margin-left: 65px;
	margin-top: -20px;
}
.navbar-brand {
	margin-top: 15px;
	padding-left: 45px;

}
.mk {
	padding: 0 0 0 0;
}
.navbar-toggler {

	margin-right:40px;
	margin-top: 10px;
	
}

.justify {
	margin-top: -15px;
	text-align: justify;
	font-size: 13.5px;
	margin-right: 20px;
	margin-left: 20px;
	color: black;

}
.service-img {

	padding: 0 0 0px 0;
	width: 150px;
}

.services {
	padding: 10px 0px 40px 0px;
}

#lk {
	display: initial;
}
#kl {
	display: none;
}

.btn-warning{
	padding: 5px 4px 5px 4px !important;
	border-radius: 2px !important;

}


.btn-primary {
padding:15px 100px 15px 100px !important;
}
.plz {
	display: none;
}

.hj {
	display: initial;
}
#ser_res{
	display: initial;
}
#service-img {
	display: none;
}

.log2 {
	margin-top:8%; 
	display: initial;
	margin-right: 60px;
	width: 32%;
}
.nc {
	flex-direction: column;
}

#machinary {
	display: none;

}

.fl {
	flex-direction: column-reverse;
}
.top {
	margin-top: 30px;
}
.br {
	display: initial;
}
.br1 {
	display: none;
}
#main_left {
	display: none;
}
#main_left1 {
	display: none;
}
#left {
	display: none;
}
.hj {
	width: 105%;
}
.mr {
margin-right: -65%;
}

img {
	width: 100%;
}
.test {
	width: 150%;
	padding-right: 120px;

}





}



@media (min-width: 601px) and (max-width: 775px) {
	.font_big {
	font-size: 23px;
	margin: 0 auto;
}
.jus {

	margin-left: 20px;
	margin-top: -20px;
}
.navbar-brand {
	margin-top: 15px;
	padding-left: 45px;

}
.mk {
	padding: 0 0 0 0;
}
.navbar-toggler {

	margin-right:40px;
	margin-top: 10px;
	
}

#top {
	margin-top: 13%;
}

.justify {
	margin-top: -15px;
	text-align: justify;
	font-size: 13.5px;
	margin-right: 20px;
	margin-left: 20px;
	color: black;

}
.service-img {

	padding: 0 0 0px 0;
	width: 150px;
}

.services {
	padding: 10px 0px 40px 0px;
}

#lk {
	display: initial;
}
#kl {
	display: none;
}

.btn-warning{
	padding: 5px 4px 5px 4px !important;
	border-radius: 2px !important;

}


.btn-primary {
padding:15px 100px 15px 100px !important;
}
.plz {
	display: none;
}

.hj {
	display: initial;
}
/*#ser_res{
	display: initial;
}
#service-img {
	display: none;
}*/

.log2 {
	margin-top:8%; 
	display: initial;
	margin-right: 60px;
	width: 32%;
}
.nc {
	flex-direction: column;
}

#machinary {
	display: none;

}

.fl {
	flex-direction: column-reverse;
}
.top {
	margin-top: 30px;
}
/*.br {
	display: initial;
}*/
.br1 {
	display: none;
}
#main_left {
	display: none;
}
#main_left1 {
	display: none;
}
#left {
	display: none;
}
.hj {
	width: 115%;
}
.mr {
margin-right: -65%;
}

img {
	width: 100%;
}
.test {
	width: 150%;
	padding-right: 120px;

}


}


@media (min-width: 776px) and (max-width: 992px) {
.font_big {
	font-size: 30px;
	margin: 0 auto;
}
.jus {

	margin-left: 20px;
	margin-top: -20px;
}
.navbar-brand {
	margin-top: 15px;
	padding-left: 45px;

}
.mk {
	padding: 0 0 0 0;
}
.navbar-toggler {

	margin-right:150px;
	margin-top: 10px;
	
}

#top {
	margin-top: 13%;
}
#oo {
	margin-top: 100px !important;
}

.justify {
	margin-top: -15px;
	text-align: justify;
	font-size: 13.5px;
	margin-right: 20px;
	margin-left: 20px;
	color: black;

}
.service-img {

	padding: 0 0 0px 0;
	width: 150px;
}

.services {
	padding: 10px 0px 40px 0px;
}

#lk {
	display: initial;
}
#kl {
	display: none;
}

.btn-warning{
	padding: 5px 4px 5px 4px !important;
	border-radius: 2px !important;

}


.btn-primary {
padding:15px 50px 15px 50px !important;
}
.plz {
	display: none;
}
#si {
	margin-right: 30px;
}

.hj {
	display: initial;
}
/*#ser_res{
	display: initial;
}
#service-img {
	display: none;
}*/

.log2 {
	margin-top:8%; 
	display: initial;
	margin-right: 280px;
	width: 25%;
}
.nc {
	flex-direction: column;
}

#machinary {
	display: none;

}

.fl {
	flex-direction: column-reverse;
}
.top {
	margin-top: 30px;
}
/*.br {
	display: initial;
}*/
.br1 {
	display: none;
}
#main_left {
	display: none;
}
#main_left1 {
	display: none;
}
#left {
	display: none;
}
.hj {
	width: 115%;
}


img {
	width: 100%;
}
.test {
	width: 150%;
	padding-right: 120px;

}


	 		




}





/*Footer*/
#footer {
	padding: 80px 0;
}

.bimg {
	width: 100%;
	
	
}
.fi {
	width: 30%;
}

.col {
	color: white;
	padding: 60px;
	padding-left: 50px;
	font-size: 36px;
}

.b {

	outline: none;
	border: none;
	background-color: #E9B640 !important;
	margin-top: 90px;
	border-radius: 10px !important;		
}



.sec {
	
	  background-size: cover;
	  margin-left: 200px; 
	  margin-right: 200px; 
	  border-radius: 25px;


	
}

.plz {
	width: 185%;
	margin-top: -120%;

}
/*------------------------*/

footer{
  background-color: #1F1837;
  margin-right: 230px;
  margin-left: 230px;
  border-radius: 25px
}




	 
	 	@media (min-width: 320px) and (max-width: 575px) {
	 		footer {


	 			margin-right: 40px;
	 			margin-left: 40px;

	 		}
	 		.col {
	 			font-size: 25px;
	 			padding-top: 20px;
	 			line-height: 40px;
	 		}
	 		#oo {
	 			display: none;
	 		}
	 		#footer1 {
	 			margin-right: 49%;
	 		}
	 		#footer2 {
	 			margin-right: 15%;
	 		}
	 		#footer3 {
	 			margin-right: 5%;
	 		}
	 		
	 	

	 	}